@use "breakpoints" as *;
@use "shadows" as *;
@use "colors" as *;

.taas {
  // padding-bottom: 0;
  // margin-bottom: 7.25rem;
  // overflow: visible;

  .background {
    background: radial-gradient(67.46% 116.16% at 34.19% 113.3%, #3a4c61 18.75%, #303d4d 90.49%, #2c343e 100%);
    padding-top: 4rem;

    @include media-breakpoint-up(md) {
      padding-top: 5rem;
    }
  }

  h2,
  p {
    color: #ffffff;
  }

  p {
    margin-bottom: 3.4375rem;
  }

  .taas__wrapper {
    box-shadow: $shadow--deep;
    border-radius: 5px;
    background: $color--background-light;
    position: relative;
    top: 2rem;
    border-radius: 5px;
  }

  h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "Avenir Demi", "Raleway Bold", "Raleway Extrabold";
    font-size: 1.875rem;
    line-height: 2.125rem;
    color: $color--heading;
    text-align: center;
    margin: 0;
  }

  .taas__body {
    background: darken($color--background-light, 5%);
    padding-top: 2rem;
    border-radius: 5px;

    .row {
      margin: 0;
    }

    [class*="col"] {
      padding-top: 0;
      padding-bottom: 30px;

      &:first-child {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
      }
    }

    .flex {
      display: flex;
      align-items: center;
      margin-top: 32px;
    }

    .block {
      width: 16px;
      height: 16px;
      background: $color--mindtrust;
      margin-right: 1rem;
    }

    .taas__text {
      font-family: "Avenir Demi", "Raleway Bold", "Raleway Extrabold";
      font-size: 1.125rem;
      line-height: 22px;
      color: $color--heading;
    }

    .pie {
      // transform: rotate(180deg);
      z-index: 1;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      // box-shadow: 25px 19px 39.8846px rgba(186, 186, 186, 0.2);
      border-radius: 999px;
      // background: $tooltip-bg-color;
      text-align: center;
      background: white;
      border-radius: 999px;

      width: 300px;
      height: 300px;

      .taas__donut {
        width: 300px;
        height: 300px;
      }

      @include media-breakpoint-up(md) {
        width: 240px;
        height: 240px;

        .taas__donut {
          width: 240px;
          height: 240px;
        }
      }

      @include media-breakpoint-up(lg) {
        width: 280px;
        height: 280px;

        .taas__donut {
          width: 280px;
          height: 280px;
        }
      }

      .pie__inner {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .pie__percent {
        color: rgb(46, 53, 58, 1);
        font-family: "Avenir Bold";
        font-size: 54px;
        line-height: 36px;
        margin-bottom: 18px;
      }

      .pie__text {
        color: rgb(46, 53, 58, 1);
        font-family: "Avenir Regular";
        font-size: 14px;
        line-height: 18px;

        strong {
          font-family: "Avenir Bold";
        }
      }

      img {
        position: absolute;
        bottom: -10%;
        width: 15%;
      }
    }

    .teamCards {
      margin: 0;
      width: 100%;

      @include media-breakpoint-up(lg) {
        position: relative;
        left: 3rem;
      }

      .teamCard {
        max-width: 100%;
        width: 100%;

        position: relative;
        left: 200px;
        opacity: 0;

        .teamCard__title {
          position: relative;
          height: 100%;
          max-width: 35%;

          @include media-breakpoint-up(md) {
            max-width: 50%;
          }
        }

        .teamCard__hours {
          font-size: 15px !important;
          font-family: "Avenir Regular";
          position: relative;
          top: 3px;
          max-width: 100%;

          strong {
            font-family: "Avenir Demi";
          }
        }

        &.active {
          animation: left 0.8s forwards;

          &:nth-child(1) {
            animation-delay: 0s;
          }
          &:nth-child(2) {
            animation-delay: 0.5s;
          }
          &:nth-child(3) {
            animation-delay: 1s;
          }
          &:nth-child(4) {
            animation-delay: 1.5s;
          }
          &:nth-child(5) {
            animation-delay: 2s;
          }
          &:nth-child(6) {
            animation-delay: 2.5s;
          }
        }

        @include media-breakpoint-up(md) {
          max-width: 440px;
          width: 440px;
        }

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
