@use "colors" as *;
@use "breakpoints" as *;
@use "shadows" as *;

$qtySlides: 13;
$slideWidth: 250;
$slideHeight: 404;
$sliderControlWidth: 35;
$sliderControlHeight: 70;
$sliderControlColor: #fafafa;

$xsSlidesToShow: 2;
$smSlidesToShow: 3;
$mdSlidesToShow: 4;
$lgSlidesToShow: 5;
$xlSlidesToShow: 7;

.talent-carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow-y: visible;
  // max-width: 400px;
  // left: -400px;

  .talent-carousel__mask {
    position: relative;
    // width: #{$slideWidth}px;
    width: 100%;
    height: #{$slideHeight}px;
    min-height: #{$slideHeight}px;
  }

  .talent-carousel__track {
    position: relative;
    display: flex;
    height: #{$slideHeight}px;
    min-height: #{$slideHeight}px;
    width: 100%;
    overflow-y: visible;

    &.active {
      transition: 0.3s ease-in-out;
    }

    &::after {
      display: block;
      width: 100%;
      height: 100%;
      content: "";
      box-shadow: $shadow--deep;
      position: absolute;
      top: 0;
      left: -400px;
      width: calc(100% + 800px);
    }
  }

  .talent-carousel__slide {
    position: relative;
    left: 0;
    position: relative;
    overflow: hidden;
    height: #{$slideHeight}px;
    min-height: #{$slideHeight}px;
    box-shadow: none;

    .headshot {
      width: 100%;
      height: auto;
      height: 100%;
      object-fit: cover;
      height: #{$slideHeight}px;
      min-height: #{$slideHeight}px;
    }

    .country {
      position: absolute;
      top: 0;
      right: 0;

      img {
        width: 1.2rem;
        margin: 0.6rem;
        height: 100%;
      }
    }

    .individual-details {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 1rem;
      list-style-type: none;
      height: 40%;
      background: $color--background-light;

      .name {
        font-family: "Avenir Demi", "Raleway Bold", Helvetica, Arial;
        font-size: 1.2rem;
      }

      .title {
        color: $color--accent;
        font-family: "Avenir Regular", "Raleway", Helvetica, Arial;
        font-size: 15px;
      }

      .previously-at {
        margin-top: 1rem;

        span {
          font-family: "Avenir Regular", "Raleway", Helvetica, Arial;
          display: inline-block;
          color: $color--accent;
          font-size: 0.8rem;
          margin-right: 0.5rem;
        }

        img {
          display: inline-block;
          max-width: 6rem;
          vertical-align: middle;
          // margin-left: 0.5rem;
          margin: 0;
        }
      }
    }

    &:first-child {
      margin-left: -#{12 / $xsSlidesToShow / 12 * 100%};

      @include media-breakpoint-up(sm) {
        margin-left: -#{12 / $smSlidesToShow / 12 * 100%};
      }

      @include media-breakpoint-up(md) {
        margin-left: -#{12 / $mdSlidesToShow / 12 * 100%};
      }

      @include media-breakpoint-up(lg) {
        margin-left: -#{12 / $lgSlidesToShow / 12 * 100%};
      }

      @media (min-width: 1400px) {
        margin-left: -#{12 / $xlSlidesToShow / 12 * 100%};
      }
    }

    width: 100%;
    flex: 1 1 0;
    flex-basis: #{12 / $xsSlidesToShow / 12 * 100%};
    width: #{12 / $xsSlidesToShow / 12 * 100%};
    min-width: #{12 / $xsSlidesToShow / 12 * 100%};
    max-width: #{12 / $xsSlidesToShow / 12 * 100%};

    @include media-breakpoint-up(sm) {
      flex-basis: #{12 / $smSlidesToShow / 12 * 100%};
      width: #{12 / $smSlidesToShow / 12 * 100%};
      min-width: #{12 / $smSlidesToShow / 12 * 100%};
      max-width: #{12 / $smSlidesToShow / 12 * 100%};
    }

    @include media-breakpoint-up(md) {
      flex-basis: #{12 / $mdSlidesToShow / 12 * 100%};
      width: #{12 / $mdSlidesToShow / 12 * 100%};
      min-width: #{12 / $mdSlidesToShow / 12 * 100%};
      max-width: #{12 / $mdSlidesToShow / 12 * 100%};
    }

    @include media-breakpoint-up(lg) {
      flex-basis: #{12 / $lgSlidesToShow / 12 * 100%};
      width: #{12 / $lgSlidesToShow / 12 * 100%};
      min-width: #{12 / $lgSlidesToShow / 12 * 100%};
      max-width: #{12 / $lgSlidesToShow / 12 * 100%};
    }

    @media (min-width: 1400px) {
      flex-basis: #{12 / $xlSlidesToShow / 12 * 100%};
      width: #{12 / $xlSlidesToShow / 12 * 100%};
      min-width: #{12 / $xlSlidesToShow / 12 * 100%};
      max-width: #{12 / $xlSlidesToShow / 12 * 100%};
    }

    border-radius: 0;
    margin: 0;
    padding: 0;
  }

  .talent-carousel--arrow {
    width: 40px;
    height: 40px;
    border: none;
    padding: none;
    background: $color--background-light;
    box-shadow: $shadow--light;
    color: $color--accent;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
  }

  .talent-carousel__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.6rem;
    margin-bottom: 0rem;
  }

  .talent-carousel__control {
    z-index: 3;
    position: absolute;
    top: 30%;
    outline: 0;

    width: 52px;
    height: 52px;
    border: none;
    transition: 0.1s;
    padding: 0;
    background: $color--background-light;
    box-shadow: $shadow--light;
    color: $color--accent;
    margin-right: 0.6rem;
    margin-top: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 15px 20px 60px 0px #385768 15%;
    border-radius: 5px;

    img {
      filter: $icon--filter;
    }

    &:hover {
      background: $color--background-light;
    }

    &--prev {
      left: 10px;
    }

    &--next {
      right: 10px;
    }

    // VARIANT TWO
    // position: static;
    // margin-left: 0;
    // text-align: left;

    // // VARIANT THREE
    // height: 45px;
    // width: 45px;
    // border-radius: 999px;
    // border: 1px solid $color--coal;

    // &--next img {
    //   position: relative;
    //   left: 1px;
    // }

    // &--prev img {
    //   position: relative;
    //   right: 1px;
    // }
  }
}
