@use "colors" as *;
@use "breakpoints" as *;

@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=afd52c43-354e-4187-b47c-df336782792d&fontids=5746790,5746845,5746866");

@font-face {
  font-family: "Avenir Regular";
  src: url("/media/fonts/5746790/d1d43d8e-e792-4a3d-aebe-2afeafdffbee.woff2") format("woff2"),
    url("/media/fonts/5746790/0df04b85-219c-4fe0-9736-12c04931d434.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Avenir Demi";
  src: url("/media/fonts/5746845/3519cb0f-02a0-41b8-b6d5-5e404cb57afb.woff2") format("woff2"),
    url("/media/fonts/5746845/585a7684-d92c-459a-9111-82ebf54d6cca.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Avenir Bold";
  src: url("/media/fonts/5746866/5685877c-e1fa-4c72-829c-2a8e19c11d06.woff2") format("woff2"),
    url("/media/fonts/5746866/7cc17fdb-3606-4f7d-bad6-66ecb244f388.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/media/fonts/nunito/nunitosans-bold-webfont.woff2") format("woff2"), url("/media/fonts/nunito/nunitosans-bold-webfont.woff") format("woff");
  font-weight: bold;

  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("/media/fonts/nunito/nunitosans-bolditalic-webfont.woff2") format("woff2"),
    url("/media/fonts/nunito/nunitosans-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("/media/fonts/nunito/nunitosans-italic-webfont.woff2") format("woff2"), url("/media/fonts/nunito/nunitosans-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("/media/fonts/nunito/nunitosans-regular-webfont.woff2") format("woff2"), url("/media/fonts/nunito/nunitosans-regular-webfont.woff") format("woff");
  font-weight: normal;

  font-display: swap;
}

body,
input,
div,
ul,
select,
option, textarea {
  font-family: "Nunito Sans", "Raleway";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color--heading;
}

h1,
h2,
.h1,
.h2,
h3,
h4,
.h3,
.h4 {
  font-family: "Avenir Demi", "Raleway Bold";
}

.h4 {
  display: block;
  margin-block-start: 1.33rem;
  margin-block-end: 1.33rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

input,
span,
div,
select,
option {
  // color: $color--paragraph;
}

p,
ul,
ol,
li {
  font-family: "Nunito Sans", "Raleway";
  color: $color--paragraph;
  font-size: 1.1rem;
  line-height: 1.75rem;
  font-weight: 400;

  &.small {
    font-size: 1rem;
  }

  &.large {
    font-size: 1.2rem;
    color: $color--paragraph;
    font-weight: 600;
  }
}

ol,
ul,
li,
ul li,
ol li {
  color: $color--paragraph;
  font-size: 1.1rem;
}

.accent,
.accent p {
  font-family: "Avenir Regular", "Raleway", "Raleway Extrabold";
  font-size: 1.1rem;
}

h1,
.h1 {
  font-family: "Avenir Bold", "Raleway Extrabold";
  font-size: 42px;
  line-height: 50px;

  &.display {
    @include media-breakpoint-up(md) {
      font-size: 60px;
      line-height: 68px;
    }
  }
}

h2,
.h2 {
  font-size: 36px;
  line-height: 50px;
  font-family: "Avenir Bold", "Raleway Extrabold";
}

h3,
.h3 {
  font-size: 28px;
  line-height: 38px;
  font-family: "Avenir Demi", "Raleway Bold";
}

h3,
.h3 {
  font-size: 22px;
  line-height: 30px;
  font-family: "Avenir Demi", "Raleway Bold";
}

a {
  color: $color--link;
}

.underline {
  display: inline-block;
  position: relative;

  &:before {
    content: "";
    width: 99%;
    height: 0.2em;
    top: 1.2em;
    position: absolute;
    background: url("/images/underline.svg") no-repeat;
    background-size: cover;
  }
}

.callout {
  font-size: 2rem;
  font-family: "Avenir Demi", "Raleway Bold";
  // color: #000;
  color: $color--heading;
  margin: 0 0 0.5rem 0;
}


.section-heading {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.75rem;
  line-height: 3.125rem;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}

.section-description {
  line-height: 2.125rem;
  text-align: center;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}
