@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;

.collapse {
  .collapse__title {
    font-size: 1.375rem;
    border-bottom: 1px solid $color--fog;
    font-weight: 600;
    color: $color--heading;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    cursor: pointer;
    transition: all 0.1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    img {
      height: 17px;
      width: 17px;
      transform: rotate(90deg);
      transition: all 0.1s;
    }
  }

  .collapse__content {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    max-height: 0px;

    @include media-breakpoint-down(xs) {
      // max-height: 278px;
    }

    div.inner {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 26px;
      color: #444444;
      padding-top: 20px;
      padding-bottom: 20px;

      sup {
        font-size: 70%;
      }
    }

    p:first-of-type {
      padding-top: 1rem;
    }

    p:last-of-type {
      padding-bottom: 1rem;
      border-bottom: 1px solid $color--fog;
    }

    p {
      line-height: 32px;
      

      font-weight: 400;
      line-height: 26px;

      text-align: left;
    }
  }

  &.open {
    .collapse__title {
      font-weight: 600;

      img {
        transform: rotate(-90deg);
      }
    }
  }
}

// .carousel--talent {
// 	display: flex;
// }
