@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/shadows" as *;
@use "./DevelopmentScenes.module.scss" as *;
@use "./DesignScenes.module.scss" as *;
@use "./MarketingScenes.module.scss" as *;
@use "./ProductionScenes.module.scss" as *;
@use "./TechnologyScenes.module.scss" as *;

.scene--phone, .scene--browser, .scene--tablet, .scene--watch {
  // border-radius: 18px;
  position: relative;
}

.scene--phone {
  width: 100%;
  max-width: 250px;
  margin-right: auto;

  @include media-breakpoint-up(md) {
    margin-left: auto;
  }

  left: 0 !important;

  filter: drop-shadow(2.26383px 20.3745px 45.2767px rgba(109, 137, 157, 0.6));

  transform-origin: bottom left;

  transform: scale(0.7);

  @include media-breakpoint-up(sm) {
    transform: scale(0.9);
  }

  @include media-breakpoint-up(md) {
    transform: none;
  }
}

.scene--browser {
  position: relative;
  top: 0;
  width: 100%;
  filter: drop-shadow(2.26383px 20.3745px 45.2767px rgba(109, 137, 157, 0.6));

  transform-origin: bottom left;

  transform: scale(0.7);

  @include media-breakpoint-up(sm) {
    transform: scale(0.9);
  }

  @include media-breakpoint-up(md) {
    transform: none;
  }
}

.scene--tablet {
  width: 100%;
  max-width: 300px;
  filter: drop-shadow(2.26383px 20.3745px 45.2767px rgba(109, 137, 157, 0.6));

  transform-origin: bottom left;

  transform: scale(0.7);

  @include media-breakpoint-up(sm) {
    transform: scale(0.9);
  }

  @include media-breakpoint-up(md) {
    transform: none;
  }
}

.scene--watch {
  width: 100%;
  max-width: 400px;
  filter: drop-shadow(2.26383px 20.3745px 45.2767px rgba(109, 137, 157, 0.6));

  transform-origin: bottom left;

  transform: scale(0.7);

  @include media-breakpoint-up(sm) {
    transform: scale(0.9);
  }

  @include media-breakpoint-up(md) {
    transform: none;
  }
}

.scene__overlay {
  position: absolute;
  filter: drop-shadow(5px 45px 100px rgba(109, 137, 157, 0.6));
}

.scene__cards {
  position: relative;
  width: 30%;
  width: 300px;
  // max-width: 100%;
  z-index: 9;

  @include media-breakpoint-up(md) {
    display: block;
  }

  ul[class*="teamCard"] {
    position: relative;
    margin-top: 0;
    margin-bottom: 11px;

    .title {
      margin-right: 0.8rem;
    }

    .silo-tag {
      margin-right: 0;
    }

    &:nth-child(2) {
      margin: 0;
    }
  }

  ul[class*="teamCard"]:first-of-type:before {
    content: url("/media/img/scenes/small-short.svg");
    position: absolute;
    // top: -7.5rem;
    z-index: -1;
  }

  ul[class*="teamCard"]:nth-of-type(2):before {
    content: url("/media/img/scenes/large.svg");
    position: absolute;
    // top: -7.5rem;
    z-index: -1;
  }
}

ul[class*="teamCard"].development:before {
  filter: invert(0.4) sepia(1) saturate(13.3) hue-rotate(180deg) brightness(0.93);
}

ul[class*="teamCard"].design:before {
  filter: invert(0.4) sepia(1) saturate(20) hue-rotate(313.2deg) brightness(1.01);
}

ul[class*="teamCard"].strategy:before {
  filter: invert(0.4) sepia(1) saturate(20) hue-rotate(216deg) brightness(0.77);
}

ul[class*="teamCard"].marketing:before {
  filter: invert(0.4) sepia(1) saturate(16) hue-rotate(331.2deg) brightness(1.06);
}

ul[class*="teamCard"].production:before {
  filter: invert(0.4) sepia(1) saturate(15.5) hue-rotate(360deg) brightness(1.2);
}

ul[class*="teamCard"].technology:before {
  filter: invert(0.4) sepia(1) saturate(20) hue-rotate(140.4deg) brightness(0.94);
}
