@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/shadows" as *;

// [class*="scene--"] svg {
//   border-radius: 18px;
// }

.scene--phone {
  width: 100%;
  max-width: 250px;
  margin-right: auto;

  @include media-breakpoint-up(md) {
    margin-left: auto;
  }

  left: 0 !important;

  filter: drop-shadow(2.26383px 20.3745px 45.2767px rgba(109, 137, 157, 0.6));

  transform-origin: bottom left;

  transform: scale(0.7);

  @include media-breakpoint-up(sm) {
    transform: scale(0.9);
  }

  @include media-breakpoint-up(md) {
    transform: none;
  }
}

.scene--browser {
  position: relative;
  top: 0;
  width: 100%;
  filter: drop-shadow(2.26383px 20.3745px 45.2767px rgba(109, 137, 157, 0.6));

  transform-origin: bottom left;

  transform: scale(0.7);

  @include media-breakpoint-up(sm) {
    transform: scale(0.9);
  }

  @include media-breakpoint-up(md) {
    transform: none;
  }
}

.scene--tablet {
  width: 100%;
  max-width: 300px;
  filter: drop-shadow(2.26383px 20.3745px 45.2767px rgba(109, 137, 157, 0.6));

  transform-origin: bottom left;

  transform: scale(0.7);

  @include media-breakpoint-up(sm) {
    transform: scale(0.9);
  }

  @include media-breakpoint-up(md) {
    transform: none;
  }
}

.scene--watch {
  width: 100%;
  max-width: 400px;
  filter: drop-shadow(2.26383px 20.3745px 45.2767px rgba(109, 137, 157, 0.6));

  transform-origin: bottom left;

  transform: scale(0.7);

  @include media-breakpoint-up(sm) {
    transform: scale(0.9);
  }

  @include media-breakpoint-up(md) {
    transform: none;
  }
}

.scene__overlay {
  position: absolute;
  filter: drop-shadow(5px 45px 100px rgba(109, 137, 157, 0.6));
}

.scene__cards {
  position: relative;
  width: 30%;
  width: 300px;
  // max-width: 100%;
  z-index: 9;

  @include media-breakpoint-up(md) {
    display: block;
  }

  ul[class*="teamCard"] {
    position: relative;
    margin-top: 0;
    margin-bottom: 11px;

    .title {
      margin-right: 0.8rem;
    }

    .silo-tag {
      margin-right: 0;
    }

    &:nth-child(2) {
      margin: 0;
    }
  }

  ul[class*="teamCard"]:first-of-type:before {
    content: url("/media/img/scenes/small-short.svg");
    position: absolute;
    // top: -7.5rem;
    z-index: -1;
  }

  ul[class*="teamCard"]:nth-of-type(2):before {
    content: url("/media/img/scenes/large.svg");
    position: absolute;
    // top: -7.5rem;
    z-index: -1;
  }
}

ul[class*="teamCard"].development:before {
  filter: invert(0.4) sepia(1) saturate(13.3) hue-rotate(180deg) brightness(0.93);
}

ul[class*="teamCard"].design:before {
  filter: invert(0.4) sepia(1) saturate(20) hue-rotate(313.2deg) brightness(1.01);
}

ul[class*="teamCard"].strategy:before {
  filter: invert(0.4) sepia(1) saturate(20) hue-rotate(216deg) brightness(0.77);
}

ul[class*="teamCard"].marketing:before {
  filter: invert(0.4) sepia(1) saturate(16) hue-rotate(331.2deg) brightness(1.06);
}

ul[class*="teamCard"].production:before {
  filter: invert(0.4) sepia(1) saturate(15.5) hue-rotate(360deg) brightness(1.2);
}

ul[class*="teamCard"].technology:before {
  filter: invert(0.4) sepia(1) saturate(20) hue-rotate(140.4deg) brightness(0.94);
}

.designSceneOne {
  // margin-top: -10%;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  margin-bottom: 90px;

  transform-origin: bottom left;

  transform: scale(0.7);
  margin-top: -140px;

  @include media-breakpoint-up(sm) {
    transform: scale(0.9);
    margin-top: -70px;
  }

  @include media-breakpoint-up(md) {
    transform: none;
    margin-top: 0;
  }

  .scene__overlay {
    position: absolute;
    bottom: -70px;
    right: -40%;
    z-index: 9;
    width: 84%;
    // min-width:
  }

  .scene__cards {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: -100px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    display: flex;

    @include media-breakpoint-up(lg) {
      right: -65%;
    }

    // @include media-breakpoint-up(xl) {
    //   left: -115%;
    // }

    ul[class*="teamCard"] {
      height: fit-content;
      position: relative;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: -5%;
    }

    ul[class*="teamCard"]:nth-child(1)::before {
      transform: scaleX(-1) scaleY(-1);
      position: absolute;
      bottom: 110%;
      right: 20%;
      content: url("/media/img/scenes/large.svg");

      @include media-breakpoint-up(xl) {
        left: 40%;
      }
    }

    ul[class*="teamCard"]:nth-child(2)::before {
      transform: scale(-1);
      position: absolute;
      top: 105%;
      right: 20%;
      content: url("/media/img/scenes/small-short.svg");
      z-index: 99;

      @include media-breakpoint-up(xl) {
        left: 40%;
      }
    }
  }
}
.designSceneTwo {
  margin-bottom: 105px;
  margin-left: 105px;
  transform-origin: bottom left;

  transform: scale(0.7);
  margin-top: -170px;

  @include media-breakpoint-up(sm) {
    transform: scale(0.9);
    margin-top: -70px;
    margin-bottom: 120px;
    margin-left: 135px;
  }

  @include media-breakpoint-up(md) {
    transform: none;
    margin-top: -10%;
  }

  @include media-breakpoint-up(lg) {
    margin-left: 200px;
  }

  .scene__overlay {
    position: absolute;
    bottom: -15%;
    left: -40%;
    z-index: 9;
    width: 70%;
    // min-width:
  }

  .scene__cards {
    width: 30%;
    width: 300px;
    max-width: 100%;
    position: absolute;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: -150px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    display: flex;

    @include media-breakpoint-up(lg) {
      left: -75%;
    }

    @include media-breakpoint-up(xl) {
      left: -200px;
    }

    ul[class*="teamCard"] {
      height: fit-content;
      position: relative;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: -5%;
    }

    ul[class*="teamCard"]:nth-child(1)::before {
      transform: rotate(90deg);
      position: absolute;
      bottom: 20%;
      left: 35%;
      content: url("/media/img/scenes/medium-long.svg");

      @include media-breakpoint-up(xl) {
        left: 40%;
      }
    }

    ul[class*="teamCard"]:nth-child(2)::before {
      // transform: rotate(90deg);
      position: absolute;
      top: 115%;
      left: 14.4%;
      content: url("/media/img/scenes/large.svg");

      @include media-breakpoint-up(xl) {
        left: 40%;
      }
    }
  }
}
.designSceneThree {
  margin-bottom: 75px;
  width: fit-content;
  margin-right: 60px;

  transform-origin: bottom left;

  transform: scale(0.6);
  margin-left: 90px;
  margin-top: -220px;

  @include media-breakpoint-up(sm) {
    transform: scale(0.8);
    margin-left: 114px;
    margin-top: -130px;
  }

  @include media-breakpoint-up(md) {
    transform: none;
    margin-top: 0;
  }

  .scene__overlay {
    right: -50px;
    bottom: -60px;
    width: 50%;
  }

  @include media-breakpoint-up(md) {
    margin-left: auto;
  }

  @include media-breakpoint-up(md) {
    width: 100%;
    margin-left: 180px;
    margin-right: 0;
  }

  @include media-breakpoint-up(lg) {
    width: 100%;
    margin-left: 100px;
    margin-right: 0;
    position: relative;
    top: -50px;
  }
  @include media-breakpoint-up(xl) {
    width: 100%;
    margin-left: 180px;
    margin-right: 0;
  }
  .scene__cards {
    // width: 30%;
    // width: 300px;
    max-width: 100%;
    position: absolute;
    // bottom: 15%;
    left: -120px;
    bottom: 12%;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: fit-content;
    display: flex;

    @include media-breakpoint-up(md) {
      left: -180px;
    }

    ul[class*="teamCard"] {
      height: fit-content;
      position: relative;
    }

    ul[class*="teamCard"]:nth-child(1)::before {
      transform: scaleX(-1);
      position: absolute;
      bottom: 100%;
      left: 20%;
      content: url("/media/img/scenes/medium-short.svg");

      @include media-breakpoint-up(md) {
        left: 30%;
      }
    }

    ul[class*="teamCard"]:nth-child(2)::before {
      // transform: scaleX(-1);
      position: absolute;
      content: url("/media/img/scenes/small-long.svg");
      left: 103%;
      bottom: 31%;
    }
  }
}

.production [class*="scene--one"],
.design [class*="scene--one"],
.designSceneOne {
  // margin-top: -10%;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  margin-bottom: 90px;

  transform-origin: bottom left;

  transform: scale(0.7);
  margin-top: -140px;

  @include media-breakpoint-up(sm) {
    transform: scale(0.9);
    margin-top: -70px;
  }

  @include media-breakpoint-up(md) {
    transform: none;
    margin-top: 0;
  }

  .scene__overlay {
    position: absolute;
    bottom: -70px;
    right: -40%;
    z-index: 9;
    width: 84%;
    // min-width:
  }

  .scene__cards {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: -100px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    display: flex;

    @include media-breakpoint-up(lg) {
      right: -65%;
    }

    // @include media-breakpoint-up(xl) {
    //   left: -115%;
    // }

    ul[class*="teamCard"] {
      height: fit-content;
      position: relative;
    }

    @include media-breakpoint-up(lg) {
      margin-bottom: -5%;
    }

    ul[class*="teamCard"]:nth-child(1)::before {
      transform: scaleX(-1) scaleY(-1);
      position: absolute;
      bottom: 110%;
      right: 20%;
      content: url("/media/img/scenes/large.svg");

      @include media-breakpoint-up(xl) {
        left: 40%;
      }
    }

    ul[class*="teamCard"]:nth-child(2)::before {
      transform: scale(-1);
      position: absolute;
      top: 105%;
      right: 20%;
      content: url("/media/img/scenes/small-short.svg");
      z-index: 99;

      @include media-breakpoint-up(xl) {
        left: 40%;
      }
    }
  }
}

.development [class*="scene--one"],
.technology [class*="scene--one"],
.marketing [class*="scene--one"] {
  transform-origin: bottom left;
  transform: scale(0.9);
  margin-bottom: 90px;

  @include media-breakpoint-up(sm) {
    transform: scale(0.9);
    margin-bottom: 120px;
  }

  @include media-breakpoint-up(md) {
    transform: none;
  }

  .scene__overlay {
    right: 6%;
    top: -50px;
    width: 40%;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 122px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0px !important;
  }

  .scene__cards {
    // width: 30%;
    // width: 300px;
    max-width: 100%;
    position: absolute;
    // bottom: 15%;
    right: -15%;
    bottom: -90px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: fit-content;
    display: flex;
    transform: scale(0.8);

    @include media-breakpoint-up(sm) {
      transform: none;
      right: 8%;
    }

    ul[class*="teamCard"] {
      height: fit-content;
      position: relative;
    }

    ul[class*="teamCard"]:nth-child(1)::before {
      transform: scaleX(-1);
      position: absolute;
      bottom: 100%;
      right: 7%;
    }

    ul[class*="teamCard"]:nth-child(2)::before {
      // transform: scaleX(-1) rotate(-90deg);
      position: absolute;
      bottom: 30%;
      left: -74px;
      content: url("/media/img/scenes/large-two.svg");
    }
  }
}

.technology [class*="scene--three"],
.production [class*="scene--three"] {
  transform-origin: bottom left;
  transform: scale(0.9);
  margin-top: -20px;
  margin-bottom: 80px;

  @include media-breakpoint-up(sm) {
    margin-top: 0px;
    margin-bottom: 120px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 32px;
    margin-top: 50px;
    transform: none;
  }

  .scene__overlay {
    right: 6%;
    top: -50px;
    width: 40%;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 122px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0px !important;
  }

  .scene__cards {
    // width: 30%;
    // width: 300px;
    max-width: 100%;
    position: absolute;
    // bottom: 15%;
    right: -15%;
    bottom: -90px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: fit-content;
    display: flex;
    transform: scale(0.8);

    @include media-breakpoint-up(sm) {
      right: 8%;
      transform: none;
    }

    ul[class*="teamCard"] {
      height: fit-content;
      position: relative;
    }

    ul[class*="teamCard"]:nth-child(1)::before {
      transform: scaleX(-1);
      position: absolute;
      bottom: 100%;
      right: 7%;
    }

    ul[class*="teamCard"]:nth-child(2)::before {
      // transform: scaleX(-1) rotate(-90deg);
      position: absolute;
      bottom: 30%;
      left: -74px;
      content: url("/media/img/scenes/large-two.svg");
    }
  }
}

.development [class*="scene--three"],
.marketing [class*="scene--three"] {
  // margin-top: -10%;
  position: relative;
  width: 80%;
  margin-bottom: 90px;
  transform-origin: bottom left;
  margin-left: 0;
  margin-left: 75px;
  margin-top: -60px;
  transform: scale(0.9);
  margin-left: 60px;

  @include media-breakpoint-up(sm) {
    margin-top: -40px;
    margin-left: 120px;
  }

  @include media-breakpoint-up(md) {
    margin-left: 100px;
    margin-bottom: 112px;
    // margin-left: auto;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }

  .scene__overlay {
    position: absolute;
    bottom: -80px;
    left: -100px;
    z-index: 9;
    width: 70%;
    // min-width:

    left: -60px;

    @include media-breakpoint-up(sm) {
      left: -100px;
    }
  }

  .scene__cards {
    // width: 30%;
    // width: 300px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin-top: auto;
    margin-bottom: auto;
    left: -130px;
    height: 100%;
    top: -10%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: fit-content;
    display: flex;
    transform: scale(0.7);

    @include media-breakpoint-up(sm) {
      transform: none;
    }

    @include media-breakpoint-up(md) {
      align-items: flex-start;
      justify-content: flex-end;
      // padding-bottom: 10%;
      top: -15%;
      left: calc(75% - 80px);
    }

    @include media-breakpoint-up(lg) {
      top: -10%;
      left: -130px;
      align-items: flex-start;
      justify-content: flex-start;
    }

    @include media-breakpoint-up(xl) {
      align-items: flex-start;
      justify-content: flex-end;
      // padding-bottom: 10%;
      top: -15%;
      left: calc(75% - 80px);
    }

    ul[class*="teamCard"] {
      height: fit-content;
      position: relative;
    }

    ul[class*="teamCard"]:nth-child(1)::before {
      transform: scale(-1);
      position: absolute;
      top: 32%;
      left: 95%;
      // transform: rotate(90deg);
      content: url("/media/img/scenes/medium-long.svg");

      @include media-breakpoint-up(md) {
        content: url("/media/img/scenes/medium-short.svg");
        left: 40%;
        top: -330%;
        transform: none;
      }

      @include media-breakpoint-up(lg) {
        transform: scale(-1);
        top: 32%;
        left: 95%;
        content: url("/media/img/scenes/medium-long.svg");
      }

      @include media-breakpoint-up(xl) {
        content: url("/media/img/scenes/medium-short.svg");
        left: 40%;
        top: -330%;
        transform: none;
      }
    }

    ul[class*="teamCard"]:nth-child(2)::before {
      position: absolute;
      transform: scaleY(-1);
      top: 104%;
      left: 15%;
      content: url("/media/img/scenes/small-short.svg");

      @include media-breakpoint-up(md) {
        content: url("/media/img/scenes/medium-long.svg");
        left: -33%;
        top: -290%;
        transform: none;
      }

      @include media-breakpoint-up(lg) {
        transform: scaleY(-1);
        top: 104%;
        left: 15%;
        content: url("/media/img/scenes/small-short.svg");
      }

      @include media-breakpoint-up(xl) {
        content: url("/media/img/scenes/medium-long.svg");
        left: -33%;
        top: -290%;
        transform: none;
      }
    }
  }
}

.technology [class*="scene--two"],
.marketing [class*="scene--two"] {
  transform-origin: bottom left;
  transform: scale(0.9);
  margin-top: 18px;
  margin-bottom: 80px;

  @include media-breakpoint-up(sm) {
    margin-top: 0px;
    margin-bottom: 120px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 32px;
    margin-top: 50px;
    transform: none;
  }

  image {
    width: 100%;
    left: -10%;
    position: relative;
  }

  .scene__overlay {
    left: 6%;
    top: -90px;
    width: 40%;

    top: -40px;

    @include media-breakpoint-up(sm) {
      top: -90px;
    }
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 122px;
  }

  @include media-breakpoint-up(lg) {
    margin-top: 0px !important;
  }

  .scene__cards {
    // width: 30%;
    // width: 300px;
    max-width: 100%;
    position: absolute;
    // bottom: 15%;
    left: -15%;
    bottom: -90px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: fit-content;
    display: flex;
    transform: scale(0.7);

    @include media-breakpoint-up(sm) {
      left: 8%;
      transform: none;
    }

    ul[class*="teamCard"] {
      height: fit-content;
      position: relative;
    }

    ul[class*="teamCard"]:nth-child(1)::before {
      // transform: scaleX(-1);
      position: absolute;
      bottom: 100%;
      left: 7%;
    }

    ul[class*="teamCard"]:nth-child(2)::before {
      transform: rotate(-90deg);
      position: absolute;
      bottom: 196%;
      right: -170px;
      content: url("/media/img/scenes/large.svg");
    }
  }
}

.development {
  [class*="scene--one"] {
    .scene__overlay {
      top: -70px;
      width: 50%;
      right: -40px;

      @media (min-width: 400px) {
        top: -90px;
      }

      @include media-breakpoint-up(xs) {
        top: -150px;
      }
    }
  }

  [class*="scene--two"] {
    margin-bottom: 92px;
    margin-left: 24%;
    transform-origin: bottom left;

    transform: scale(0.7);
    margin-top: -170px;

    @include media-breakpoint-up(sm) {
      transform: scale(0.9);
      margin-top: -70px;
    }

    @include media-breakpoint-up(md) {
      transform: none;
      margin-top: -10%;
    }

    @include media-breakpoint-up(lg) {
      margin-left: 200px;
    }

    .scene__overlay {
      position: absolute;
      bottom: -15%;
      left: -40%;
      z-index: 9;
      width: 70%;
      // min-width:
    }

    .scene__cards {
      width: 30%;
      width: 300px;
      max-width: 100%;
      position: absolute;
      top: 0;
      margin-top: auto;
      margin-bottom: auto;
      left: -120px;
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      display: flex;

      @include media-breakpoint-up(sm) {
        left: -150px;
      }

      @include media-breakpoint-up(lg) {
        left: -75%;
      }

      @include media-breakpoint-up(xl) {
        left: -200px;
      }

      ul[class*="teamCard"] {
        height: fit-content;
        position: relative;
      }

      @include media-breakpoint-up(lg) {
        margin-bottom: -5%;
      }

      ul[class*="teamCard"]:nth-child(1)::before {
        transform: rotate(90deg);
        position: absolute;
        bottom: 20%;
        left: 35%;
        content: url("/media/img/scenes/medium-long.svg");

        @include media-breakpoint-up(xl) {
          left: 40%;
        }
      }

      ul[class*="teamCard"]:nth-child(2)::before {
        // transform: rotate(90deg);
        position: absolute;
        top: 115%;
        left: 14.4%;
        content: url("/media/img/scenes/large.svg");

        @include media-breakpoint-up(xl) {
          left: 40%;
        }
      }
    }
  }
}

.production {
  [class*="scene--two"] {
    // margin-top: -10%;
    margin-left: 60px;
    margin-right: 0;
    position: relative;
    margin-bottom: 32px;
    margin-top: -120px;

    @include media-breakpoint-up(sm) {
      margin-top: -60px;
      margin-left: 120px;
    }

    .scene__overlay {
      position: absolute;
      bottom: -70px;
      right: -40%;
      z-index: 9;
      width: 84%;
      // min-width:
    }

    .scene__cards {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 25%;
      margin-top: auto;
      margin-bottom: auto;
      left: -125px;
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      display: flex;
      transform: scale(0.8);

      @include media-breakpoint-up(sm) {
        transform: none;
      }

      // @include media-breakpoint-up(xl) {
      //   left: -115%;
      // }

      ul[class*="teamCard"] {
        height: fit-content;
        position: relative;
      }

      @include media-breakpoint-up(lg) {
        margin-bottom: -5%;
      }

      ul[class*="teamCard"]:nth-child(1)::before {
        transform: scaleX(-1);
        position: absolute;
        bottom: 105%;
        left: 50px;
        content: url("/media/img/scenes/medium-short.svg");
      }

      ul[class*="teamCard"]:nth-child(2)::before {
        // transform: scaleX(-1);
        position: absolute;
        bottom: 34%;
        left: 102%;
        content: url("/media/img/scenes/small-long.svg");
        z-index: 99;
      }
    }
  }

  [class*="scene--three"] {
  }
}

.technology {
  [class*="scene--one"] {
    @include media-breakpoint-up(md) {
      margin-top: 120px !important;
    }

    .scene__overlay {
      top: -120px !important;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 0px !important;
    }
  }
  [class*="scene--one"],
  [class*="scene--three"] {
  }

  [class*="scene--two"] {
  }
}

.design {
  // [class*="scene--one"] {
  //   // margin-top: -10%;
  //   margin-left: 0;
  //   margin-right: 0;
  //   position: relative;
  //   margin-bottom: 102px;

  //   transform-origin: bottom left;

  //   transform: scale(0.7);
  //   margin-top: -140px;

  //   @include media-breakpoint-up(sm) {
  //     transform: scale(0.8);
  //     margin-top: -100px;
  //   }

  //   @include media-breakpoint-up(md) {
  //     transform: none;
  //     margin-top: 0;
  //   }

  //   .scene__overlay {
  //     position: absolute;
  //     bottom: -70px;
  //     right: -40%;
  //     z-index: 9;
  //     width: 84%;
  //     // min-width:
  //   }

  //   .scene__cards {
  //     width: 100%;
  //     height: 100%;
  //     position: absolute;
  //     top: 0;
  //     margin-top: auto;
  //     margin-bottom: auto;
  //     right: -100px;
  //     height: 100%;
  //     flex-direction: column;
  //     align-items: flex-start;
  //     justify-content: center;
  //     display: flex;

  //     @include media-breakpoint-up(lg) {
  //       right: -65%;
  //     }

  //     // @include media-breakpoint-up(xl) {
  //     //   left: -115%;
  //     // }

  //     ul[class*="teamCard"] {
  //       height: fit-content;
  //       position: relative;
  //     }

  //     @include media-breakpoint-up(lg) {
  //       margin-bottom: -5%;
  //     }

  //     ul[class*="teamCard"]:nth-child(1)::before {
  //       transform: scaleX(-1) scaleY(-1);
  //       position: absolute;
  //       bottom: 110%;
  //       right: 20%;
  //       content: url("/media/img/scenes/large.svg");

  //       @include media-breakpoint-up(xl) {
  //         left: 40%;
  //       }
  //     }

  //     ul[class*="teamCard"]:nth-child(2)::before {
  //       transform: scale(-1);
  //       position: absolute;
  //       top: 105%;
  //       right: 20%;
  //       content: url("/media/img/scenes/small-short.svg");
  //       z-index: 99;

  //       @include media-breakpoint-up(xl) {
  //         left: 40%;
  //       }
  //     }
  //   }
  // }

  [class*="scene--three"] {
    // margin-bottom: 75px;
    // width: fit-content;
    // margin-right: 60px;

    // transform-origin: bottom left;

    // transform: scale(0.6);
    // margin-left: 90px;
    // margin-top: -220px;

    // @include media-breakpoint-up(sm) {
    //   transform: scale(0.8);
    //   margin-left: 114px;
    //   margin-top: -130px;
    // }

    // @include media-breakpoint-up(md) {
    //   transform: none;
    //   margin-top: 0;
    // }

    // .scene__overlay {
    //   right: -50px;
    //   bottom: -60px;
    //   width: 50%;
    // }

    // @include media-breakpoint-up(md) {
    //   margin-left: auto;
    // }

    // @include media-breakpoint-up(md) {
    //   width: 100%;
    //   margin-left: 180px;
    //   margin-right: 0;
    // }

    // @include media-breakpoint-up(lg) {
    //   width: 100%;
    //   margin-left: 100px;
    //   margin-right: 0;
    //   position: relative;
    //   top: -50px;
    // }
    // @include media-breakpoint-up(xl) {
    //   width: 100%;
    //   margin-left: 180px;
    //   margin-right: 0;
    // }
    // .scene__cards {
    //   // width: 30%;
    //   // width: 300px;
    //   max-width: 100%;
    //   position: absolute;
    //   // bottom: 15%;
    //   left: -120px;
    //   bottom: 12%;
    //   margin-top: auto;
    //   margin-bottom: auto;
    //   height: 100%;
    //   flex-direction: column;
    //   align-items: flex-start;
    //   justify-content: flex-end;
    //   width: fit-content;
    //   display: flex;

    //   @include media-breakpoint-up(md) {
    //     left: -180px;
    //   }

    //   ul[class*="teamCard"] {
    //     height: fit-content;
    //     position: relative;
    //   }

    //   ul[class*="teamCard"]:nth-child(1)::before {
    //     transform: scaleX(-1);
    //     position: absolute;
    //     bottom: 100%;
    //     left: 20%;
    //     content: url("/media/img/scenes/medium-short.svg");

    //     @include media-breakpoint-up(md) {
    //       left: 30%;
    //     }
    //   }

    //   ul[class*="teamCard"]:nth-child(2)::before {
    //     // transform: scaleX(-1);
    //     position: absolute;
    //     content: url("/media/img/scenes/small-long.svg");
    //     left: 103%;
    //     bottom: 31%;
    //   }
    // }
  }
}

.strategy {
  [class*="scene--one"] {
    transform-origin: bottom left;
    // transform: scale(0.7);
    transform: scale(0.9);
    margin-bottom: 95px;

    @include media-breakpoint-up(sm) {
      transform: scale(0.9);
    }

    @include media-breakpoint-up(md) {
      transform: none;
    }

    .scene__overlay {
      right: 6%;
      top: -50px;
      width: 40%;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 122px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 0px !important;
    }

    .scene__cards {
      max-width: 100%;
      position: absolute;
      // bottom: 15%;
      right: -15%;
      bottom: -90px;
      margin-top: auto;
      margin-bottom: auto;
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      width: fit-content;
      display: flex;
      transform: scale(0.8);

      @include media-breakpoint-up(sm) {
        transform: none;
        right: 8%;
      }

      ul[class*="teamCard"] {
        height: fit-content;
        position: relative;
      }

      ul[class*="teamCard"]:nth-child(1)::before {
        transform: scaleX(-1);
        position: absolute;
        bottom: 100%;
        right: 7%;
      }

      ul[class*="teamCard"]:nth-child(2)::before {
        // transform: scaleX(-1) rotate(-90deg);
        position: absolute;
        bottom: 30%;
        left: -74px;
        content: url("/media/img/scenes/large-two.svg");
      }
    }
  }

  [class*="scene--two"] {
    transform-origin: bottom left;
    transform: scale(0.9);
    margin-top: 18px;
    margin-bottom: 90px;

    @include media-breakpoint-up(sm) {
      margin-top: 0px;
      margin-bottom: 115px;
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 32px;
      margin-top: 50px;
      transform: none;
    }

    image {
      width: 100%;
      left: -10%;
      position: relative;
    }

    .scene__overlay {
      left: 6%;
      top: -90px;
      width: 40%;

      top: -40px;

      @include media-breakpoint-up(sm) {
        top: -90px;
      }
    }

    @include media-breakpoint-up(md) {
      margin-bottom: 122px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 0px !important;
    }

    .scene__cards {
      // width: 30%;
      // width: 300px;
      max-width: 100%;
      position: absolute;
      // bottom: 15%;
      left: -15%;
      bottom: -90px;
      margin-top: auto;
      margin-bottom: auto;
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      width: fit-content;
      display: flex;
      transform: scale(0.7);

      @include media-breakpoint-up(sm) {
        transform: none;
        left: 8%;
      }

      ul[class*="teamCard"] {
        height: fit-content;
        position: relative;
      }

      ul[class*="teamCard"]:nth-child(1)::before {
        // transform: scaleX(-1);
        position: absolute;
        bottom: 100%;
        left: 7%;
      }

      ul[class*="teamCard"]:nth-child(2)::before {
        transform: rotate(-90deg);
        position: absolute;
        bottom: 196%;
        right: -170px;
        content: url("/media/img/scenes/large.svg");
      }
    }
  }

  [class*="scene--three"] {
    // margin-top: -10%;
    position: relative;
    width: 80%;
    margin-bottom: 90px;
    transform-origin: bottom left;
    margin-left: 0;
    margin-left: 75px;
    margin-top: -100px;

    @include media-breakpoint-up(sm) {
      margin-top: -20px;
      margin-left: 120px;
    }

    @include media-breakpoint-up(md) {
      margin-left: 100px;
      margin-bottom: 112px;
      // margin-left: auto;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }

    .scene__overlay {
      position: absolute;
      bottom: -80px;
      left: -100px;
      z-index: 9;
      width: 70%;
      // min-width:
    }

    .scene__cards {
      // width: 30%;
      // width: 300px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      margin-top: auto;
      margin-bottom: auto;
      left: -130px;
      height: 100%;
      top: -10%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: fit-content;
      display: flex;
      transform: scale(0.8);
      transform-origin: top;

      @include media-breakpoint-up(sm) {
        transform: none;
      }

      @include media-breakpoint-up(md) {
        align-items: flex-start;
        justify-content: flex-end;
        // padding-bottom: 10%;
        top: -15%;
        left: calc(75% - 80px);
      }

      @include media-breakpoint-up(lg) {
        top: -10%;
        left: -130px;
        align-items: flex-start;
        justify-content: flex-start;
      }

      @include media-breakpoint-up(xl) {
        align-items: flex-start;
        justify-content: flex-end;
        // padding-bottom: 10%;
        top: -15%;
        left: calc(75% - 80px);
      }

      ul[class*="teamCard"] {
        height: fit-content;
        position: relative;
      }

      ul[class*="teamCard"]:nth-child(1)::before {
        transform: scale(-1);
        position: absolute;
        top: 32%;
        left: 95%;
        // transform: rotate(90deg);
        content: url("/media/img/scenes/medium-long.svg");

        @include media-breakpoint-up(md) {
          content: url("/media/img/scenes/medium-short.svg");
          left: 40%;
          top: -330%;
          transform: none;
        }

        @include media-breakpoint-up(lg) {
          transform: scale(-1);
          top: 32%;
          left: 95%;
          content: url("/media/img/scenes/medium-long.svg");
        }

        @include media-breakpoint-up(xl) {
          content: url("/media/img/scenes/medium-short.svg");
          left: 40%;
          top: -330%;
          transform: none;
        }
      }

      ul[class*="teamCard"]:nth-child(2)::before {
        position: absolute;
        transform: scaleY(-1);
        top: 104%;
        left: 15%;
        content: url("/media/img/scenes/small-short.svg");

        @include media-breakpoint-up(md) {
          content: url("/media/img/scenes/medium-long.svg");
          left: -33%;
          top: -290%;
          transform: none;
        }

        @include media-breakpoint-up(lg) {
          transform: scaleY(-1);
          top: 104%;
          left: 15%;
          content: url("/media/img/scenes/small-short.svg");
        }

        @include media-breakpoint-up(xl) {
          content: url("/media/img/scenes/medium-long.svg");
          left: -33%;
          top: -290%;
          transform: none;
        }
      }
    }
  }
}

.marketing {
  [class*="scene--one"] {
    .scene__overlay {
      width: 35%;
      box-shadow: $shadow--deep;
    }
  }

  [class*="scene--two"] {
    .scene__overlay {
      width: 25%;
      box-shadow: $shadow--light;
    }
  }

  [class*="scene--three"] {
    .scene__overlay {
      width: 50%;
    }
  }
}
