@use "../breakpoints" as *;
@use "../colors" as *;
@use "../shadows" as *;

.not-found {
  .hero {
    padding: 0;

    .background-wrapper {
      @include media-breakpoint-up(md) {
        padding-bottom: 160px;
        padding-top: 7.0625rem;
      }

      padding-bottom: 120px;
      padding-top: 3.5rem;
      background-image: url("/media/img/backgrounds/break.svg");
    }

    h1,
    p,
    a.btn {
      text-align: left;
      display: block;
      max-width: 600px;
      margin-left: 0;

      @include media-breakpoint-up(md) {
        margin: 0 auto;
        text-align: center;
      }
    }

    h1 {
      margin-bottom: 1rem;
      margin-top: 0;
    }

    p {
      margin-bottom: 1rem;
      line-height: 34px;
    }
  }
}
