@use "../breakpoints" as *;
@use "../colors" as *;
@use "../inputs" as *;
@use "../shadows" as *;

.request-project-one {
  .slick-dots {
    // margin-top: 32px;
    display: block;
    bottom: -50px !important;

    li {
      width: 32px;
      height: 32px;
      margin: 0;
    }

    button {
      width: 32px;
      height: 32px;
    }

    button::before {
      color: #00000050;
      opacity: 1;
      width: 32px;
      height: 32px;
      line-height: 32px;
      font-size: 10px;
    }

    .slick-active button::before {
      color: $color--mindtrust;
    }
  }

  .request-project-header {
    padding-top: 24px;
  }

  // /* purgecss ignore current */
  // .request-project-header {
  //   /* purgecss ignore current */
  //   padding-top: 64px;
  //   margin-bottom: 64px;

  //   h2 {
  //     /* purgecss ignore current */
  //     margin: 32px 0 16px;
  //   }
  // }

  // p {
  //   /* purgecss ignore current */
  //   font-size: 17.6px !important;
  //   line-height: 26px !important;
  //   color: #444444 !important;
  // }

  // .inputs-list {
  //   /* purgecss ignore current */
  //   list-style: none !important;
  //   margin: 0 !important;
  //   padding: 0 !important;

  //   label[for*="LEGAL_CONSENT"] {
  //     /* purgecss ignore current */
  //     display: flex !important;
  //     justify-content: flex-start !important;

  //     input {
  //       /* purgecss ignore current */
  //       margin: 0 !important;
  //       width: fit-content !important;
  //       float: none !important;
  //     }

  //     span {
  //       /* purgecss ignore current */
  //       margin-top: -6px !important;

  //       p {
  //         /* purgecss ignore current */
  //         color: #000000cc !important;
  //       }
  //     }
  //   }
  // }

  // input[type="submit"] {
  //   /* purgecss ignore current */
  //   background: #008feb !important;
  //   color: #fff !important;
  //   border-radius: 5px !important;
  //   border: 0.12em solid #008feb !important;
  //   display: inline-block !important;
  //   text-decoration: none !important;
  //   font-weight: 800 !important;
  //   font-size: 1.2em !important;
  //   transition: background ease-in-out 0.1s, border ease-in-out 0.1s !important;
  //   padding: 0.7em 1.5em 0.85em !important;
  //   cursor: pointer !important;
  //   width: fit-content !important;
  //   font-family: "Avenir Demi", "Raleway Bold", "Raleway Extrabold" !important;
  //   line-height: 1.08em !important;
  //   display: block !important;
  //   width: 100% !important;

  //   &:hover {
  //     /* purgecss ignore current */
  //     background: #1481cf !important;
  //     // box-shadow: 3px 3px 26px -10px #00000040 !important;
  //     border: 0.12em solid #1481cf !important;
  //   }
  // }

  // // form {
  //   /* purgecss ignore current */
  //   // display: none !important;
  // // }

  .input {
    /* purgecss ignore current */
    // border: none !important;
    // padding: 0 !important;
    // margin: 0 !important;
    margin-top: 8px;
    margin-bottom: 16px !important;
    width: 100% !important;

    // &:hover {
    //   /* purgecss ignore current */
    //   border: none !important;
    // }

    input,
    textarea {
      /* purgecss ignore current */
      margin-top: 8px !important;
      display: block !important;
      margin-right: 0 !important;
      width: 100% !important;

      &:focus {
        /* purgecss ignore current */
        border-color: $color--mindtrust !important;
      }
    }
  }

  input.full-width {
    width: 100%;
  }

  .hs-error-msgs {
    /* purgecss ignore current */
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 8px !important;
    margin-bottom: 12px !important;

    li label {
      /* purgecss ignore current */
      color: red !important;
      font-size: .9rem;
      line-height: 1.25;
    }
  }

  .wrapper-container {
    display: block;
    @include media-breakpoint-up(lg) {
      display: flex;
    }
    .wrapper {
      max-width: 600px;
      margin: 0 auto;
  
      /* purgecss ignore current */
      @include media-breakpoint-up(lg) {
        width: 58%;
        display: block;
      }
    }
  }

  .sidebar {
    /* purgecss ignore current */
    background: #1f2831 !important;
    padding: 80px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    margin-top: 80px !important;
    min-height: 100vh !important;
    width: 100%;

    @include media-breakpoint-up(lg) {
      /* purgecss ignore current */
      padding: 40px !important;
      margin-top: 0 !important;
      width: 42%;
    }

    @include media-breakpoint-up(xl) {
      padding: 100px 50px !important;
    }

    .container {
      /* purgecss ignore current */
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    .stars {
      /* purgecss ignore current */
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      margin: 0 auto !important;
      margin-bottom: 7px !important;

      img {
        /* purgecss ignore current */
        width: 24px !important;
        margin: 0 2px !important;
      }
    }

    .partners {
      /* purgecss ignore current */
      font-family: "Avenir Regular" !important;
      color: #d5dfe6 !important;
      margin: 0 auto !important;
      text-align: center !important;
      margin-bottom: 48px !important;
      font-weight: 500 !important;
      max-width: 400px;
      display: block;
      font-size: 18px;
      line-height: 26px;
      padding-bottom: 50px;
      margin-bottom: 50px;
      max-width: 380px;
      position: relative;

      &:after {
        background: #566068;
        height: 2px;
        width: 36px;
        bottom: 0;
        left: calc(50% - 18px);
        position: absolute;
        content: "";
        display: block;
      }
    }

    .quote {
      /* purgecss ignore current */
      font-family: "Avenir Demi";
      text-align: center !important;
      margin: 0 auto !important;
      color: white !important;
      font-weight: 600 !important;
      font-size: 22px !important;
      line-height: 36px !important;
      margin-bottom: 36px !important;
      max-width: 450px;
    }

    .headshot {
      width: 64px;
      height: 64px;
      margin-bottom: 16px;
      border-radius: 999px;
      margin-left: auto;
      margin-right: auto;
    }

    .name {
      /* purgecss ignore current */
      font-size: 16px !important;
      line-height: 16px !important;
      color: white !important;
      margin: 0 auto !important;
      text-align: center !important;
      font-weight: 500 !important;
      margin-bottom: 6px !important;
      font-family: "Avenir Demi";
      max-width: 300px;
    }

    .company {
      /* purgecss ignore current */
      font-size: 14px !important;
      line-height: 16px !important;
      color: white !important;
      font-family: "Avenir Demi";
      margin: 0 auto !important;
      text-align: center !important;
      font-weight: 500 !important;
      color: #7f8b96 !important;
      max-width: 300px;
    }
  }

  .trusted-by {
    text-align: center;
    margin-top: 96px;

    p {
      margin: 0 auto !important;
      width: fit-content !important;
      text-align: center !important;
      font-family: "Avenir Regular" !important;
      font-size: 18px !important;
      line-height: 1rem !important;
      color: white !important;
      margin-bottom: 24px !important;
    }

    .flex {
      display: flex;
      flex-wrap: wrap;

      img {
        flex: 1 1 0;

        @include media-breakpoint-up(md) {
          max-width: 50%;
          min-width: 33%;
        }
      }
    }
  }
}

/* Hubspot form */
.form--hubspot {
  button,
  input[type="button"] {
    overflow: visible;
  }

  button,
  html [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }

  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }

  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  fieldset {
    max-width: none !important;
    width: auto;
  }

  .form-title:empty {
    position: absolute;
    left: -9999px;
  }

  .hs-input {
    position: relative;
    width: 100% !important;

    &:focus {
      font-size: 1rem;
    }
  }

  .input {
    margin-right: 0 !important;
  }

  .form-columns-1,
  .form-columns-2 {
    display: block;
    margin: 0 -8px !important;
  }

  .hs-form-field,
  .hs-richtext {
    padding-left: 8px;
    padding-right: 8px;
  }
}
