@use "../colors" as *;
@use "../breakpoints" as *;
@use "../shadows" as *;

.silo {
  .hero::before {
    background-image: url("/media/img/backgrounds/silos/development--silo.svg");
    background-size: contain;

    width: 80%;

    @include media-breakpoint-up(md) {
      width: 100%;
      max-width: 769px;
      // background-size: cover;
    }

    @media (min-width: 1500px) {
      max-width: 1000px;
    }
    @media (min-width: 1700px) {
      max-width: 1000px;
      width: 110%;
    }
  }

  &.strategy .hero::before {
    background-image: url("/media/img/backgrounds/silos/strategy--silo.svg");
    background-size: contain;

    width: 80%;

    @include media-breakpoint-up(md) {
      width: 100%;
      max-width: 769px;
      // background-size: cover;
    }

    @media (min-width: 1500px) {
      max-width: 1000px;
    }
    @media (min-width: 1700px) {
      max-width: 1000px;
      width: 110%;
    }
  }

  &.design .hero::before {
    background-image: url("/media/img/backgrounds/silos/design--silo.svg");
    background-size: contain;

    width: 80%;

    @include media-breakpoint-up(md) {
      width: 100%;
      max-width: 769px;
      // background-size: cover;
    }

    @media (min-width: 1500px) {
      max-width: 1000px;
    }
    @media (min-width: 1700px) {
      max-width: 1000px;
      width: 110%;
    }
  }

  &.production .hero::before {
    background-image: url("/media/img/backgrounds/silos/production--silo.svg");
    background-size: contain;

    width: 80%;

    @include media-breakpoint-up(md) {
      width: 100%;
      max-width: 769px;
      // background-size: cover;
    }

    @media (min-width: 1500px) {
      max-width: 1000px;
    }
    @media (min-width: 1700px) {
      max-width: 1000px;
      width: 110%;
    }
  }

  &.marketing .hero::before {
    background-image: url("/media/img/backgrounds/silos/marketing--silo.svg");
    background-size: contain;

    width: 80%;

    @include media-breakpoint-up(md) {
      width: 100%;
      max-width: 769px;
      // background-size: cover;
    }

    @media (min-width: 1500px) {
      max-width: 1000px;
    }
    @media (min-width: 1700px) {
      max-width: 1000px;
      width: 110%;
    }
  }

  &.technology .hero::before {
    background-image: url("/media/img/backgrounds/silos/technology--silo.svg");
    background-size: contain;

    width: 80%;

    @include media-breakpoint-up(md) {
      width: 100%;
      max-width: 769px;
      // background-size: cover;
    }

    @media (min-width: 1500px) {
      max-width: 1000px;
    }
    @media (min-width: 1700px) {
      max-width: 1000px;
      width: 110%;
    }
  }

  &.design .team:after {
    background-image: url("/media/img/backgrounds/silos/design.svg") !important;
  }

  &.production .team:after {
    background-image: url("/media/img/backgrounds/silos/production.svg") !important;
  }

  &.marketing .team:after {
    background-image: url("/media/img/backgrounds/silos/marketing.svg") !important;
  }

  &.technology .team:after {
    background-image: url("/media/img/backgrounds/silos/technology.svg") !important;
  }

  &.strategy .team:after {
    background-image: url("/media/img/backgrounds/silos/strategy.svg") !important;
  }
}
